.container2 {
  width: 1700px;
  height: 50px;
  float:top;
margin-left: 1000px;
}
.car{
  fill:white;
  animation:car 15s infinite
}
.tires{
  fill:white;
  animation:tires 15s infinite;
}
@keyframes car{
  20%{
        transform:translateX(400px);
      }
      40%{
        transform:translateX(400px);
      }
      60%{
        transform:translateX(-400px);
      }
      80%{
        transform:translateX(-200px);
      }
      100%{
        transform:translateX(-200px);
      }
}
 @keyframes tires {
      20%{
        transform:translateY(-1.5px);
        transform:translateX(400px);
      }
      40%{
        transform:translateY(-1.4px);
        transform:translateX(400px);
      }
      60%{
        transform:translateY(-1.3px);
        transform:translateX(-400px);
      }
      80%{
        transform:translateY(-1px);
        transform:translateX(-200px);
      }
      100%{
        transform:translateY(0px);
        transform:translateX(-200px);
      }
  }
